# env/venv/gh-based
*.egg
*.egg-info/
*.eggs/
*.pyc
.idea
.cache/
_build/
build/
dist/
.env
.venv
.vscode
__pycache__
*.token
*.pypirc
*.code-workspace
/coverage.xml
/TestResults.xml
/.coverage
.mypy_cache/
